@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom classes */
@layer base{
    body{
        font-family: 'Lato', sans-serif;
    }
}

/* Hide the scrollbar */
.hide-scrollbar::-webkit-scrollbar{
    display: none; /* Chrome */
}
.hide-scrollbar{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}