/*
:root -> root element of the document , higher specificity
html element
general style
css variables
*/

*{
    font-size: 16px;
    font-size: 10px;
    font-size: 20px;
}

.absolute{
    font-size: 24px;
}
.relative{
    font-size: 1.5rem;
}