/* background-size
cover : cover the hole div
*/
div {
  height: 300px;
  color: wheat;
  border: 0.4px solid red;
}

.big-img{
    background: url(./big.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
}
.small-img{
    background: url(./small.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.folder-img{
    background: url(./images/folder-img.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}